[submodule "yasmate"]
	path = yasmate
	url = https://github.com/capitaomorte/yasmate.git
        ignore = dirty
[submodule "html.tmbundle"]
	path = html.tmbundle
	url = https://github.com/textmate/html.tmbundle.git
        ignore = dirty
[submodule "objective-c.tmbundle"]
	path = objective-c.tmbundle
	url = https://github.com/textmate/objective-c.tmbundle.git
        ignore = dirty
[submodule "ruby-on-rails-tmbundle"]
	path = ruby-on-rails-tmbundle
	url = https://github.com/textmate/ruby-on-rails-tmbundle.git
        ignore = dirty
[submodule "ruby.tmbundle"]
	path = ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
        ignore = dirty



